body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to bottom, #222, #444), url('/AngularSkullGym/src/assets/images/skull2.png');
  background-size: cover; /* Asegura que la imagen cubra todo el fondo */
  background-position: center center; /* Centra la imagen */
  background-attachment: fixed; /* Hace que el fondo se quede fijo mientras se hace scroll */
  color: #fff;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150vh;
}


.login-container {
  background: #333;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  align-items: center;
  max-width: 900px;
  width: 450%;
  orientation: landscape;
}
.login-container {
  background-image: url('/assets/images/skull2.png');  /* Ruta de tu imagen */
  background-size: cover; /* Hace que la imagen cubra todo el contenedor */
  background-position: center;
  background-color: hsl(209, 10%, 53%);
  padding: 20px;
  color: white; /* Cambia el color del texto si es necesario */
}


.login-container h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: whitesmoke; /* Color temático */
}

.form-group {
  margin-bottom: 15px;
  text-align: left;
}


.form-group label {
  color: whitesmoke;
  display: block;
  font-weight: lighter;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 2px solid rgba(255, 255, 255, 0.6); /* Borde con opacidad */
  border-radius: 5px;
  background: transparent; /* Fondo transparente */
  color: #fff; /* Color del texto */
  font-size: 14px;
}

.form-group input:focus {
  outline: none;
  box-shadow: 0 0 5px #ff6b00;
}



button {
  background: #3b92e2;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: #e65c00;
}

button:active {
  transform: scale(0.98);
}
