<div class="employee-list">
    <h2>Lista de Empleados</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of colaboradores">
          <td>{{ employee.id }}</td>
          <td>{{ employee.nombre_completo }}</td>
          <td>{{ employee.correo_electronico }}</td> 
          <td>{{ employee.telefono }}</td>
          <td>
            <button (click)="viewDetails(employee.id)">Ver Detalles</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  