<div class="employee-list">
    <h2>Lista de Empleados</h2>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Teléfono</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of colaboradores">
          <td>{{ employee.idCollaborating }}</td>
          <td>{{ employee.nameCollaborating }}</td>
          <td>{{ employee.emailColab }}</td>
          <td>{{ employee.telefono }}</td>
          <td>
            <button (click)="viewDetails(employee.idCollaborating)">Ver Detalles</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  