<div class="inventory-list">
  <h2>Lista de Equipos</h2>
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Modelo</th>
        <th>Descripción</th>
        <th>Fecha de Registro</th>
        <th>Estado</th>
        <th>Peso</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let equipment of equipmentList">
        <td>{{ equipment.id }}</td>
        <td>{{ equipment.nombre }}</td>
        <td>{{ equipment.modelo }}</td>
        <td>{{ equipment.descripcion }}</td>
        <td>{{ equipment.fecha_registro || 'No registrada' }}</td>
        <td>{{ equipment.estado }}</td>
        <td>{{ equipment.peso }} libras</td>
        <td>
          <button (click)="viewDetails(equipment.id)">Ver Detalles</button>
          <button (click)="deleteEquipament(equipment.id)">Eliminar Registro</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>

