<div [ngStyle]="{'background-color': '#f4f4f4'}">
  <h1 (click)="goToMenu()" style="cursor: pointer;">
    SkullGym
    <i class="material-icons">fitness_center</i>
  </h1>

  <!-- Navegación, iconos u otros elementos que quieras que siempre aparezcan -->
  <div>
    <i class="material-icons">home</i>
    <i class="material-icons">settings</i>
    <i class="fas fa-user"></i>
    <i class="fas fa-cog"></i>
  </div>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  <!-- Esta es la sección que cambiará según la ruta -->
  <router-outlet></router-outlet>
</div>